---
layout: resume
---

{% include content/1-header.html %}

{% if site.categories.experiences %}
    {% include content/2-experiences.html %}
{% endif %}
{% if site.categories.projects %}
    {% include content/3-projects.html %}
{% endif %}
{% if site.custom_category_name and site.categories.customs %}
    {% include content/4-customs.html %}
{% endif %}
{% if site.categories.skills or site.skills %}
    {% include content/5-skills.html %}
{% endif %}
{% if site.categories.educations %}
    {% include content/6-educations.html %}
{% endif %}
{% if site.categories.hobbies or site.hobbies %}
    {% include content/7-hobbies.html %}
{% endif %}

{% include content/8-informations.html %}
{% include content/9-footer.html %}