---
layout: resume
---

{% include content/1-header.html %}

{% if site.categories.experiences %}
    {% include resume/2-experiences.html %}
{% endif %}
{% if site.categories.projects %}
    {% include resume/3-projects.html %}
{% endif %}
{% if site.custom_category_name and site.categories.customs %}
    {% include resume/4-customs.html %}
{% endif %}
{% if site.categories.skills or site.skills %}
    {% include resume/5-skills.html %}
{% endif %}
{% if site.categories.educations %}
    {% include resume/6-educations.html %}
{% endif %}
{% if site.resume.hobbies %}
    {% include resume/7-hobbies.html %}
{% endif %}
{% if site.resume.infos %}
    {% include resume/8-informations.html %}
{% endif %}

{% include content/9-footer.html %}