/**
 * About Page
 */

.post-header {
    @extend %clearfix;
}

#about-title {
    @extend .post-title;
    float:left;
}

#about-lang {
    float: right;
}

#about-header,
#about-content,
#about-footer {
    @extend %clearfix;
    margin: 20px auto;
    max-width: 800px;
    min-width: 380px;
}

#about-picture {
    float: right;
    margin: 0px 10px;
    @include media-query($on-laptop) {
        float: none;
    }


    img {
        display: block;
        border: solid 1px $grey-color-light;
        border-radius: 20px;
        margin: auto;
        box-sizing: border-box;
        width: 150px;
        height: 180px; 
    }
}

#about-info {
    width: 35%;
    float: right;
    margin: 30px auto;
    @include media-query($on-laptop) {
        float: none;
        width: 100%;
    }

    li {
        list-style-type: none;
    }
 
}

#about-tagline {
    @extend .tagline;
    line-height: 165px;

    float: left;
    @include media-query($on-laptop) {
        float: none;
        width: 100%;
    }
}

#about-tagline-en {
    @extend #about-tagline;
    width: 65%;
}

#about-tagline-fr {
    @extend #about-tagline;
    width: -webkit-calc(100% - 170px);
    width:         calc(100% - 170px);
}

#about-content > section {
    margin: 0px 10px 20px 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: white;
    border: solid 1px $grey-color-light;
    border-radius: 20px;
}
    
#about-content > section > h2 {
    font-variant: small-caps;
    padding-left: 20px;
    font-size: x-large;
    border-bottom: solid 1px;
}

#about-description, 
#about-experiences,
#about-schools {
    text-align: justify; 

    dt {
        font-weight: bolder;
    }

    p {
        margin: 0;
    }
}

#about-technologies,
#about-linguistic, 
#about-management,
#about-hobbies {
    width: -webkit-calc(50% - 20px);
    width:         calc(50% - 20px);

    float: left;
    @include media-query($on-laptop) {
        float: none;
        width: -webkit-calc(100% - 20px);
        width:         calc(100% - 20px);
    }
}

#about-technologies { 
    dt { 
        margin-left: 15px;
         font-style: italic; 
    }
    a, a:visited { 
        color: darken($brand-color, 15%); 
    }
    
    .strong { 
        /*font-weight: bold; */
        font-weight: bolder; 
    }
    .medium { 
        /*font-weight: bolder; */
    }
    .low { 
        /*font-weight: lighter; */
    }
}

#about-management,
#about-hobbies {
    ul { 
        margin-left: 0px; 
    }
    li { 
        list-style:none; 
    }
}

#about-linguistic {
    dl { 
        @extend %clearfix; 
    }
    dt { 
        float: left;
        width: 25%;
        text-align: right; 

        &:after {
            content: " :";
        }
    }
    dd { 
        float: left;
        width: -webkit-calc(75% - 2*5px);
        width:         calc(75% - 2*5px); 
        margin: 0 5px; 
    }
}

#about-edit {
    text-align: right;
    font-style: italic;

    @include media-query($on-laptop) {
        margin-top: 20px;
    }
}