ul.weblinks > li {
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center 20px;
}

$webicons: facebook github linkedin twitter;
$webicons-url: "/img/webicons" !default;
@each $webicon in $webicons {
    ul.weblinks > li##{$webicon} {
        background-image: url("#{$webicons-url}/#{$webicon}.svg");
    }
}
