<section id="projects" class="col-xs-12">
    <h2><i class="fa fa-folder-open"></i> Projects</h2>

    <ul class="content-posts">
        {% for post in site.categories.projects %}
            <li class="content-post">

                <div class="post-title">
                    <i class="fa fa-chevron-right"></i> {{ post.title }}
                </div>

                {%if post.website %}
                    <p><a class="website" href="{{ post.website }}">
                        Visit web page
                    </a></p>
                {% endif %}

                <div class="post-content">
                    {{ post.content }}
                    <p class="small">
                        References : {{ post.references | join:', ' }}
                    </p>
                </div>

            </li>
        {% endfor %}
    </ul>
</section>